
.icon-resize-full:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-cloud:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-resize-small:before { content: '\e804'; } /* '' */
.icon-floppy:before { content: '\e805'; } /* '' */
.icon-up-big:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */