@import "foundation.scss";
// @include foundation-normalize();
// @include foundation-everything($prototype:true);
@include foundation-everything();

form {
  input[type="range"] {
    width: 100%;
  }
}

.preload {
  text-align: center;
}

span#periodsValue {
  font-weight: bold;
}
