doctype html
html(lang="en")
  head
    link(rel="shortcut icon" href="")
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Covidn - Indonesia COVID-19 cases
    meta(name="description" content="Indonesia COVID-19 cases, National and Provinces")
    meta(name="keywords" content="Indonesia covid-19 covid19 national provinces")
    meta(name="author" content="andry.yosua@gmail.com")

    meta(property="og:title" content="Covidn - Indonesia COVID-19 cases")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Indonesia COVID-19 cases, National and Provinces")
    meta(property="og:url" content="https://aiosk.github.io/covidn/")
    meta(property="og:image" content="https://aiosk.github.io/covidn/covidn-img-min.png")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Covidn - Indonesia COVID-19 cases")
    meta(name="twitter:description" content="Indonesia COVID-19 cases, National and Provinces")
    meta(name="twitter:type" content="website")
    meta(name="twitter:site" content="@andry_yosua")
    meta(name="twitter:creator" content="@andry_yosua")
    meta(name="twitter:image" content="https://aiosk.github.io/covidn/covidn-img-min.png")
  body.grid-container.fluid
    h4.text-center Indonesia COVID-19 cases&nbsp;
      br
      small National and Provinces
    #chartHelpText.help-text.callout.warning
      ul
        li#chartHelpTextMobile Mobile
          ul
            li For best results please view in&nbsp;
              strong landscape&nbsp;
              | mode
            li
              strong Tap or Touch&nbsp;
              | chart bar to see case number
            li
              strong Tap or Touch&nbsp;
              | chart legend to show/hide chart data
        li#chartHelpTextDesktop Desktop
          ul
            li Click chart border to toggle chart&nbsp;
              strong full-width&nbsp;
              | mode
            li
              strong Hover mouse&nbsp;
              | on chart bar to see case number
            li
              strong Click&nbsp;
              | chart legend to show/hide chart data
    #top.clearfix
      a.float-right(href='https://github.com/aiosk/covidn')
        img.lazy(alt="GitHub stars" data-src="https://img.shields.io/github/stars/aiosk/covidn?logo=github&style=for-the-badge")
    form.grid-x.callout
      .cell.large-3
        label(for='periods')
          span#periodsValue 7
          | &nbsp;days period
      .cell.large-9
        input#periods(type='range' min='1' max='21' step='1' value='7')
        p#periodsHelpText.help-text Try smaller or larger data periods by sliding (tap/click => hold => move) slider to change days period.
          br
          strong Smaller&nbsp;
          | day periods will generate complicated chart data, while&nbsp;
          strong larger&nbsp;
          | day periods will generate simplified chart data. Use wisely.

    #myChart.grid-x.large-up-2(aria-describedby="chartHelpText")
      .cell(style='width:100%').callout
        //- a(href="#Chart_National").anchor
        //-   img(data-src="img/baseline_attach_file_black_18dp.png" alt="anchor")
        .loader
        canvas#Chart_NATIONAL
    a(href="#top")
      img.lazy(data-src="img/baseline_vertical_align_top_black_18dp.png" alt="Scroll to top")

    link(rel="stylesheet" href=`css/foundation-global.css`)
    link(rel="stylesheet" href=`css/foundation.css` media="print" onload="this.media='all'")
    link(rel="stylesheet" href=`css/app.css` media="print" onload="this.media='all'")
    script(defer src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js")
    script(defer src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@16.1.0/dist/lazyload.min.js")

    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")

    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.core.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.util.mediaQuery.min.js")
    script(defer src="js/app.js")

