doctype html
html(lang="en")
  head
    link(rel="shortcut icon" href="")
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Covidn
    meta(name="description" content="Indonesia COVID-19 cases, National and Provinces")
    meta(name="keywords" content="Indonesia covid-19 covid19 national provinces")
    meta(name="author" content="andry.yosua@gmail.com")

    meta(property="og:title" content="Covidn")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Indonesia COVID-19 cases, National and Provinces")
    meta(property="og:url" content="https://aiosk.github.io/covidn/")
    meta(property="og:image" content="https://aiosk.github.io/covidn/covidn-img-min.png")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Covidn")
    meta(name="twitter:description" content="Indonesia COVID-19 cases, National and Provinces")
    meta(name="twitter:type" content="website")
    meta(name="twitter:site" content="@andry_yosua")
    meta(name="twitter:creator" content="@andry_yosua")
    meta(name="twitter:image" content="https://aiosk.github.io/covidn/covidn-img-min.png")
  body.grid-container.fluid
    h4.text-center Indonesia COVID-19 cases&nbsp;
      br
      small National and Provinces
    #chartHelpText.help-text.callout.warning
      ul
        li Usage
          ul
            li Try changing days period (default:&nbsp;
              strong 7 days
              | ) to see more complex or simplified chart
            li
              strong Less&nbsp;
              | days period to see more complex chart
            li
              strong More&nbsp;
              | days period to see simplified chart
        li Mobile
          ul
            li Try&nbsp;
              strong landscape&nbsp;
              | mode
            li
              strong Long tap&nbsp;
              | on chart bar to see cases number
        li Desktop
          ul
            li Click chart to view chart in&nbsp;
              strong full width mode
            li
              strong Hover&nbsp;
              | on chart bar to see cases number
    #top.clearfix
      a.float-right(href='https://github.com/aiosk/covidn')
        img(alt="GitHub stars" src="https://img.shields.io/github/stars/aiosk/covidn?logo=github&style=for-the-badge")
    form.grid-x.callout
      .cell.large-3
        label(for='periods')
          span#periodsValue 7
          | &nbsp; days period
      .cell.large-9
        input#periods(type='range' min='1' max='21' step='1' value='7')
        p#periodsHelpText.help-text Slide this to change days period

    #myChart.grid-x.large-up-2(aria-describedby="chartHelpText")
      .cell(style='width:100%').callout
        canvas#Chart_National
    a(href="#top" data-smooth-scroll)
      img(src="baseline_vertical_align_top_black_18dp.png" alt="Scroll to top")

    link(rel="stylesheet" href=`app.css` media="print" onload="this.media='all'")
    script(defer src="https://cdn.jsdelivr.net/npm/intersection-observer@0.7.0/intersection-observer.js")
    script(defer src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@16.1.0/dist/lazyload.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/16.1.0/lazyload.iife.min.js")

    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")

    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.core.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.smoothScroll.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.util.mediaQuery.min.js")
    script(defer src="app.js")

