doctype html
html(lang="en")
  head
    link(rel="shortcut icon" href="")
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title Covidn
    meta(name="description" content="Indonesia covid-19 cases")
    meta(name="keywords" content="Indonesia covid-19 covid19 national provinces")
    meta(name="author" content="andry.yosua@gmail.com")

    meta(property="og:title" content="Covidn")
    meta(property="og:type" content="website")
    meta(property="og:description" content="Indonesia covid-19 cases")
    meta(property="og:url" content="https://000501720.production.codepen.plumbing/")
    meta(property="og:image" content="https://www.dropbox.com/s/raw/qa2p78mmkih06nl/covidn-img.png")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content="Covidn")
    meta(name="twitter:description" content="Indonesia covid-19 cases")
    meta(name="twitter:type" content="website")
    meta(name="twitter:site" content="@andry_yosua")
    meta(name="twitter:creator" content="@andry_yosua")
    meta(name="twitter:image" content="https://www.dropbox.com/s/raw/qa2p78mmkih06nl/covidn-img.png")
  body.grid-container.fluid
    #top
    h3.text-center Indonesia covid-19 cases

    form.grid-x.callout
      .cell.large-3
        label(for='periods')
          span#periodsValue 14
          | &nbsp; days period
      .cell.large-9
        //- .slider(data-slider data-initial-start='14' data-start='1' data-end='21' data-step='1' aria-describedby="periodsHelpText")
        //-   span.slider-handle(data-slider-handle role='slider' tabindex='1')
        //-   span.slider-fill(data-slider-fill)
        //-   input(type='hidden')
        input#periods(type='range' min='1' max='21' step='1' value='14')
        p#periodsHelpText.help-text Slide this to change days period

    #chartHelpText.help-text.callout
      ul
        li Click chart to view chart in&nbsp;
          strong full width
        li hover on chart bar to see cases number
    #myChart.grid-x.large-up-2(aria-describedby="chartHelpText")
      .cell(style='width:100%').callout
        canvas#Chart_National
    .grid-x
      a(href='https://github.com/aiosk/covidn')
        img(alt="GitHub stars" src="https://img.shields.io/github/stars/aiosk/covidn?logo=github&style=for-the-badge")
    a(href="#top" data-smooth-scroll)
      img(src="vertical_align_top-24px.svg" alt="Scroll to top")

    link(rel="stylesheet" href=`app.css` media="print" onload="this.media='all'")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/16.1.0/lazyload.iife.min.js")

    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/regression/1.4.0/regression.min.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js")

    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.core.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.smoothScroll.min.js")
    //- script(defer src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/js/plugins/foundation.util.mediaQuery.min.js")
    script(defer src="app.js")

