@import "@/css/_foundation";

.legend {
  //   padding: 0.5rem;
  // font-size: 0.875rem;
  //   text-align: left;
  margin: 1rem 0;
  .item {
    cursor: pointer;
    // outline: 1px solid $light-gray;

    .color {
      display: block;
      $size: 1rem;
      width: $size;
      height: $size;
      @include horizontal-center;
      //   display: inline-block;
      margin-top: 0.125rem;
    }
    .text {
      //   padding-left: 0.25rem;
    }
  }
}
