@import "@/css/_color";

.legend {
  //   padding: 0.5rem;
  // font-size: 0.875rem;
  //   text-align: left;
  margin: 1rem 0;
  .item {
    cursor: pointer;
    // outline: 1px solid $light-gray;

    .color {
      display: block;
      $size: 1rem;
      width: $size;
      height: $size;
      @include horizontal-center;
      //   display: inline-block;
      margin-top: 0.125rem;
    }
    .text {
      //   padding-left: 0.25rem;
    }
  }
}

.confirmed,
.recover,
.death,
.active {
  .card-divider {
    color: white;
    text-transform: uppercase;
    h4 {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }
}
.confirmed {
  border: 1px solid map-get($case-color, "confirmed");
  .card-divider {
    background: map-get($case-color, "confirmed");
  }
}
.recover {
  border: 1px solid map-get($case-color, "recover");
  .card-divider {
    background: map-get($case-color, "recover");
  }
}
.death {
  border: 1px solid map-get($case-color, "death");
  .card-divider {
    background: map-get($case-color, "death");
  }
}
.active {
  border: 1px solid map-get($case-color, "active");
  .card-divider {
    background: map-get($case-color, "active");
  }
}
