.loader {
  $size: 0.75rem;
  border: $size solid $light-gray;
  $border-primary: map-get($foundation-palette, "primary");
  border-top: $size solid $border-primary;
  border-bottom: $size solid $border-primary;
  border-radius: 50%;
  width: $size;
  height: $size;
  animation: spin 2s linear infinite;
}
.spin {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
