@import "@/css/_bem";
@import "@/css/_color";
@mixin card-ranking-modifier($color) {
  $color: map-get($case-color, $color);
  border: 1px solid $color !important;
  header {
    background: $color !important;
  }
  menu a i {
    color: $color;
  }
}
@mixin card-ranking {
  main.card-image {
    min-height: 50rem;
  }
  header {
    color: white;
    text-transform: capitalize;
    position: relative;

    menu {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      margin: 0;
      padding: 0;
      i {
        color: white !important;
      }
    }
  }

  menu {
    a {
      margin: 0 0.5rem;
    }
  }

  @include modifier("confirmed") {
    @include card-ranking-modifier("confirmed");
  }
  @include modifier("recover") {
    @include card-ranking-modifier("recover");
  }
  @include modifier("death") {
    @include card-ranking-modifier("death");
  }
  @include modifier("active") {
    @include card-ranking-modifier("active");
  }
}

@include block("card-ratio-population") {
  @include card-ranking;
}
@include block("card-ratio") {
  @include card-ranking;
}
@include block("card-ranking") {
  @include card-ranking;
}
