@import "@/css/_bem";
@import "@/css/_color";

@include block("card-percentage") {
  header {
    color: white;
    text-transform: capitalize;
  }
  @include modifier("confirmed") {
    $color: map-get($case-color, "confirmed");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
  @include modifier("recover") {
    $color: map-get($case-color, "recover");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
  @include modifier("death") {
    $color: map-get($case-color, "death");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
  @include modifier("active") {
    $color: map-get($case-color, "active");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
}
@include block("card-ranking") {
  main.card-image {
    min-height: 50rem;
  }
  header {
    color: white;
    text-transform: capitalize;
    menu {
      position: absolute;
      top: 0rem;
      right: 0.5rem;
      i {
        color: white !important;
      }
    }
  }
  menu {
    text-align: right;
  }

  @include modifier("confirmed") {
    $color: map-get($case-color, "confirmed");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
  @include modifier("recover") {
    $color: map-get($case-color, "recover");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
  @include modifier("death") {
    $color: map-get($case-color, "death");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
  @include modifier("active") {
    $color: map-get($case-color, "active");
    border: 1px solid $color !important;
    header {
      background: $color !important;
    }
    menu a i {
      color: $color;
    }
  }
}
menu {
  a {
    margin: 0 0.5rem;
  }
}
