@import "_foundation";

// html {
//   scroll-behavior: smooth;
// }
form {
  input[type="range"] {
    width: 100%;
  }
  span#periodsLabel {
    font-weight: bold;
  }
}

#top {
  // margin-bottom: 0.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
  img {
    $size: 1.5rem;
    width: $size;
    height: $size;
  }

  background: $medium-gray;
  // background: rgba(192, 192, 192, 0.5);
  border-radius: 50%;
}

#myChart {
  .cell .cell {
    width: 2rem;
  }
}
a.download {
  display: block;
  $size: 1.5rem;
  height: $size;
  width: $size;
  img {
    height: $size;
    width: $size;
  }
}

.loader {
  $size: 0.75rem;
  border: $size solid $light-gray;
  $border-primary: map-get($foundation-palette, "primary");
  border-top: $size solid $border-primary;
  border-bottom: $size solid $border-primary;
  border-radius: 50%;
  width: $size;
  height: $size;
  animation: spin 2s linear infinite;
}
.spin {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chart-action {
  position: absolute;
  right: 1rem;
}
