@import "_foundation";
@import "_preloader";

// html {
//   scroll-behavior: smooth;
// }
form {
  .periods {
    input[type="range"] {
      width: 100%;
    }
    label span {
      font-weight: bold;
    }
  }
}

#top {
  // margin-bottom: 0.5rem;
  $position: 1rem;
  position: fixed;
  bottom: $position;
  right: $position;
  margin: 0;
  img {
    $size: 1.5rem;
    width: $size;
    height: $size;
  }

  background: $medium-gray;
  // background: rgba(192, 192, 192, 0.5);
  padding: 0.5rem;
  border-radius: 50%;
}

#myChart {
  .cell {
    transition: width 1s;
  }
  .callout {
    padding: 0.5rem;
  }
  .action {
    // position: absolute;
    // right: 1rem;
    text-align: right;
    a.icon {
      $size: 3rem;
      height: $size;
      width: $size;
      // padding: 1rem;
      display: inline-block;
      padding: 0.5rem;
      img {
        $size: 2rem;
        height: $size;
        width: $size;
      }
    }

    & > .cell:nth-child(1) {
      order: 2;
    }
    & > .cell:nth-child(2) {
      order: 1;
    }
  }
  .legend {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: left;
    .item {
      cursor: pointer;
      margin-bottom: 0.5rem;
      .color {
        $size: 1rem;
        width: $size;
        height: $size;
        display: inline-block;
        border: {
          width: 0.125rem;
          style: solid;
        }
      }
      .text {
        // padding: 0.125rem;
        padding-left: 0.5rem;
        line-height: 1rem;
      }
    }
  }
}

.width-100 {
  width: 100% !important;
  .legend {
    @include breakpoint(xlarge up) {
      @include xy-grid-layout(4, ".cell");
    }
  }
}

// $breakpoints: (
//   small: 0,
//   medium: 640px,
//   large: 1024px,
//   xlarge: 1200px,
//   xxlarge: 1440px,
// );
