@import "_foundation";
@import "_preloader";

// html {
//   scroll-behavior: smooth;
// }
form {
  input[type="range"] {
    width: 100%;
  }
  span#periodsLabel {
    font-weight: bold;
  }
}

#top {
  // margin-bottom: 0.5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
  img {
    $size: 1.5rem;
    width: $size;
    height: $size;
  }

  background: $medium-gray;
  // background: rgba(192, 192, 192, 0.5);
  border-radius: 50%;
}

#myChart {
  .cell {
    transition: width 1s;
  }
  .callout {
    padding: 0.5rem;
  }
  .chart-action {
    position: absolute;
    right: 1rem;
    a.icon {
      $size: 1.25rem;
      height: $size;
      width: $size;
      img {
        height: $size;
        width: $size;
      }
    }
  }
}

.width-100 {
  width: 100% !important;
}
